{% extends 'recipes/base.html' %}
{% load static i18n %}

    {% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>{% trans 'Recipes' %}</h1>

    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{{ recipe.get_absolute_url }}" title="{{ recipe.title }}">{{ recipe.title }}</a>.
            </li>
        {% endfor %}
    </ul>

    <hr>

    <h2>{% trans 'Actions Menu' %}</h2>

    <ul>
        <li><a href="{% url 'recipes:register' %}" title="{% trans 'Recipe register' %}">{% trans 'Recipe register' %}</a>.</li>
    </ul>
    {% endblock content %}
