{% extends 'recipes/base.html' %}
{% load static i18n %}

    {% block content %}
    <h1>{% trans 'Recipes' %}</h1>

    <form method="post" action="#">
        {% csrf_token %}

        {{ ingredientFormset.management_form }}
        {{ instructionFormset.management_form }}

        <fieldset class="form ">
            {% for field in form %}
                <div class="form-row">
                    <div class="field-box">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>{% trans 'Ingredients' %}</legend>
            <ul id='formset-ingredients'>
                {% for form in ingredientFormset %}
                    {{ form.id }}
                        {{ form.as_ul }}
                {% endfor %}
            </ul>

            <button id='btnIngredient'>{% trans 'Add Ingredient' %}</button>
        </fieldset>

        <fieldset>
            <legend>{% trans 'Instructions' %}</legend>
            <ul id='formset-instructions'>
                {% for form in instructionFormset %}
                    {{ form.id }}
                        {{ form.as_ul }}
                {% endfor %}
            </ul>

            <button id='btnInstruction'>{% trans 'Add Instruction' %}</button>
        </fieldset>
        <br>
        <button>{% trans 'Send' %}</button>
    </form>
    <br>
    <a href="{% url 'recipes:list' %}">{% trans 'Recipes list' %}</a>

    <script type='template/ingredient'>
        {{ ingredientFormset.empty_form.as_ul }}
    </script>

    <script type='template/instruction'>
        {{ instructionFormset.empty_form.as_ul }}
    </script>

    <script>
    $(function(){
        // Replace all matches instead of just the first
        function replaceAll(text, search, replace){
            while (text.toString().indexOf(search) != -1)
                text = text.toString().replace(search, replace);
            return text;
        }

        var $totalIngredients = $('#id_ingredient_set-TOTAL_FORMS');

        $('#btnIngredient').click(function(event) {
            event.preventDefault();
            var total = parseInt($totalIngredients.val(), 10);
            var clon = $('script[type="template/ingredient"]').html();
            clon_html = replaceAll(clon, '__prefix__', (total).toString());
            $('#formset-ingredients').append(clon_html);
            $totalIngredients.val(total +  1);
        });

        var $totalInstructions = $('#id_instruction_set-TOTAL_FORMS');

        $('#btnInstruction').click(function(event) {
            event.preventDefault();
            var total = parseInt($totalInstructions.val(), 10);
            var clon = $('script[type="template/instruction"]').html();
            clon_html = replaceAll(clon, '__prefix__', (total).toString());
            $('#formset-instructions').append(clon_html);
            $totalInstructions.val(total +  1);
        });
    })
    </script>
    {% endblock content %}
